<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>SakilaSeamBasic</display-name>
	<context-param>
		<param-name>com.sun.faces.numberOfViewsInSession</param-name>
		<param-value>7</param-value>
	</context-param>
	<!-- FACELECTS -->
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.FACELETS_VIEW_MAPPINGS</param-name>
		<param-value>*.xhtml</param-value>
	</context-param>
	<!--Configuration for Totemti Taglib -->
	<context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/componentes-totemti.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>1</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.COMPRESS_STYLE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.DEFAULT_EXPIRE</param-name>
		<param-value>262974383</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.LoadScriptStrategy</param-name>
		<param-value>ALL</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.LoadStyleStrategy</param-name>
		<param-value>ALL</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.fileUpload.createTempFiles</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.fileUpload.maxRequestSize</param-name>
		<param-value>200000000</param-value>
	</context-param>
	<!-- Fila padrão para as requisições ajax -->
	<context-param>
		<param-name>org.richfaces.queue.global.enabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- Configuration for Richfaces/ Ajax4jsf -->
	<context-param>
		<param-name>org.richfaces.skin</param-name>
		<param-value>classic</param-value>
	</context-param>
	<!-- Configuration for Prime -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
	<filter>
		<filter-name>Seam Filter</filter-name>
		<filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Seam Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
	</listener>
	<listener>
		<listener-class>br.com.gridsoftware.util.SessionListener</listener-class>
	</listener>
	<!-- Seam -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Document Store Servlet</servlet-name>
		<servlet-class>org.jboss.seam.document.DocumentStoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.seam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Document Store Servlet</servlet-name>
		<url-pattern>*.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<url-pattern>/seam/resource/*</url-pattern>
	</servlet-mapping>
	<!-- Tempo de inatividade para expirar a sessao -->
	<session-config>
		<!-- <session-timeout>30</session-timeout> comentado para testes de desempenho <cookie-config> <http-only>true</http-only> <secure>true</secure> </cookie-config> -->
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- Página de Erro! -->
	<error-page>
		<error-code>401</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/login.xhtml</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<!-- Segurança <security-constraint> comentado para testes de desempenho <web-resource-collection> <web-resource-name>Restricted</web-resource-name> <description>Restricao para nao permitir metodos http 
		abaixo</description> <url-pattern>/*</url-pattern> <http-method>PUT</http-method> <http-method>DELETE</http-method> <http-method>HEAD</http-method> <http-method>OPTIONS</http-method> <http-method>TRACE</http-method> 
		</web-resource-collection> <auth-constraint /> </security-constraint> -->
	<security-constraint>
		<display-name>Restrict raw XHTML Documents</display-name>
		<web-resource-collection>
			<web-resource-name>XHTML</web-resource-name>
			<url-pattern>*.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	<security-constraint>
		<display-name>Restrict raw page.xml Documents</display-name>
		<web-resource-collection>
			<web-resource-name>Page.xml</web-resource-name>
			<url-pattern>*.xml</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
</web-app>
