.metadata
.recommenders/
EntityManagerTest/.settings
EntityManagerTest/.classpath
EntityManagerTest/.project
EntityManagerTest/.tern-project
EntityManagerTest/target
Testes/
RemoteSystemsTempFiles/.project
SakilaSeamBasic/.tern-project
