<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="SalesByFilmCategory" />
        <mapping class="FilmText" />
        <mapping class="Category" />
        <mapping class="Address" />
        <mapping class="FilmActor" />
        <mapping class="Customer" />
        <mapping class="Film" />
        <mapping class="Staff" />
        <mapping class="Store" />
        <mapping class="City" />
        <mapping class="CustomerList" />
        <mapping class="FilmList" />
        <mapping class="Payment" />
        <mapping class="Language" />
        <mapping class="Rental" />
        <mapping class="NicerButSlowerFilmList" />
        <mapping class="Actor" />
        <mapping class="ActorInfo" />
        <mapping class="Country" />
        <mapping class="StaffList" />
        <mapping class="FilmCategory" />
        <mapping class="Inventory" />
        <mapping class="SalesByStore" />
    </session-factory>
</hibernate-configuration>
